.playersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    p {
        color: white;
    }
}

.playersCorridor{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
}

.playersList{
    img {
        width: calc(50vw - 30px);
        object-fit: cover;
        border-radius: 5px;
    }
}

@media(min-width: 1024px){
    .playersContainer{
        margin-top: 100px;
    }

    .playersCorridor{
        border: none;
        column-gap: 10px;
        background-color: #1B1F23;
        grid-template-columns:center;
        img{
            width: calc(20vw - 60px);
        }
    }
}