.playersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
        color: white;
    }
}

.playersCorridor{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.playersList{
    img {
        width: calc(50vw - 30px);
        object-fit: cover;
        border-radius: 5px;
    }
}

@media(min-width: 1024px){
    .playersContainer{
        margin-top: 25px;
    }

    .playersCorridor{
        justify-content: space-between;
        grid-template-columns: repeat(5, auto);
        
        img{
            width: calc(20vw - 60px);
        }
    }
}