.Header{
    background-color: #2D3844;
    height: 50px;
    width: calc(100vw - 22px);
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    .headerCategories{
        display: none;
    }

    svg{
        font-size: 50px;
        color: white;
    }

    img{
        width: 100px;
    }
}

@media(min-width: 1024px){
    .Header{
        width: calc(100vw - 49px);
        padding: 0 24px 0 12px;

        .menuIcon{
            display: none;
        }

        .headerCategories{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            p{
                color: whitesmoke;
                font-size: 16px;
            }
        }
    }
}